/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kolker+Brush&display=swap"); */

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: 0.3s ease all;
}

input {
  padding: 0.6rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  padding: 0.6rem;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.alert-box {
  background: white;
  min-height: 60px;
  min-width: 200px;
  padding: 1rem 2rem;
  display: grid;
  place-items: center;
  border: 1px solid lightGrey;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
}

.alert-box p {
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.alert-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 250;
}

.btn {
  /* background: none; */
  border: none;
}

.btn-auth-submit {
  height: 40px;
  width: 250px;
  border: 2px solid black;
  border-radius: 1rem;
  margin-top: 1.4rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02rem;
  /* background: rgb(240, 240, 240); */
  background: black;
  color: white;
}

.btn-grey {
  color: rgb(200, 200, 200);
}

.btn-form-chevron {
  align-self: flex-start;
  background: none;
}

.btn-login {
  font-size: 24px;
  letter-spacing: 0.02rem;
  background: none;
}

.btn-login:disabled {
  color: black;
}

.btn-signup {
  font-size: 24px;
  font-size: 18px;
  letter-spacing: 0.02rem;
  background: none;
}

.btn-signup:disabled {
  color: black;
}

.btn-homepage-select-size {
  font-weight: 400;
}

.cart-item-buttons {
  display: flex;
  gap: 0.6rem;
}

.cart-item-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.cart-item-row button {
  width: 40px;
  background: none;
  border-radius: 6px;
  font-size: 1.1rem;
}

.cart-items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cart-main {
  min-height: 300px;
  min-width: 250px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-top: 2rem;
  background: white;
  border-radius: 16px;
  border: 4px solid lightGrey;
}

.cart-main h5 {
  margin-bottom: 1rem;
}

.cart-main li {
  list-style-type: none;
}

.footer-links {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* gap: 0.6rem; */
  /* gap: 1rem; */
}

.footer-main {
  /* height: 250px; */
  /* height: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  background: #f5eeee;
  background: rgb(250, 250, 250);
  gap: 1rem;
}

.form {
  /* height: 80vh; */
  width: 0px;
  overflow: hidden;
  background: rgb(252, 252, 252, 0.98);
  /* border: 3px solid grey; */
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 80px;
  right: 0;
  z-index: 200;
  border-radius: 1rem 0 0 1rem;
}

.form-visible {
  width: 80vw;
  padding: 2rem;
  border: 3px solid black;
}

.form h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.form p {
  width: 250px;
  background: rgb(220, 220, 220);
  padding: 1rem;
  border-radius: 1rem;
  letter-spacing: 0.02rem;
  font-size: 12px;
}

.form-input {
  height: 30px;
  width: 250px;
  border-radius: 1rem;
  border: 2px solid rgb(80, 80, 80);
  /* background: none; */
}

.form-label {
  color: rgb(140, 140, 140);
  color: rgb(180, 180, 180);
  color: rgb(80, 80, 80);
  font-size: 14px;
  letter-spacing: 0.02rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

.link {
  text-decoration: none;
  letter-spacing: 0.02rem;
}

.link-footer {
  color: rgb(0, 0, 0, 0.8);
  /* color: rgb(123, 167, 215); */
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 12px;
}

.link-homepage-learn {
  width: 300px;
  margin: 0 auto;
  font-weight: 500;
  color: white;
}

.logo {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 0rem;
  z-index: 30;
  text-decoration: none;
}

.logo-icon {
  margin-bottom: -0.4rem;
  object-fit: cover;
}

.logo-icon-container {
  height: 32px;
  width: 28px;
  position: relative;
}

.logo-footer {
  /* margin: 0.6rem 0; */
  margin-left: -0.2rem;
}

.logo-nav-shift-right {
  /* margin-left: 36vw; */
}

.logo-text {
  /* font-family: "Kolker Brush", cursive; */
  font-family: var(--font-kolker);
  font-weight: 300;
  font-size: 30px;
  /* color: rgb(190, 190, 190); */
  color: rgb(120, 120, 120);
}

.logo-text-white {
  font-family: "Kolker Brush", cursive;
  font-weight: 300;
  font-size: 30px;
  /* color: white; */
  color: rgb(190, 190, 190);
  font-family: var(--font-kolker);
}

.navbar-cart-count {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 1.3rem;
  left: 1rem;
  font-weight: 400;
  font-size: 12px;
}

.navbar-cart-span {
  position: relative;
}

.navbar-main {
  width: 100vw;
  height: 6rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-main span {
  display: flex;
  gap: 0.6rem;
}

.overflow-hidden {
  width: 100vw;
  overflow: hidden;
}

.page-center {
  width: 100vw;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background: black;
  padding-top: 80px;
}

.performance-icon-black {
  display: block;
}

.performance-icon-white {
  display: none;
}

.place-holder {
  height: 500px;
  width: 100vw;
  background: pink;
  background: black;
  position: absolute;
  top: 6rem;
}

.positioner {
  position: absolute;
  top: 576px;
}

.product-list-main {
  height: min-content;
  padding: 2rem;
  border: 3px solid lightGrey;
  border-radius: 8px;
}

.product-list-main h3 {
  margin-bottom: 1rem;
}

.product-list-main li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-preview-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 3px solid black;
}

.single-product-main {
  height: min-content;
  padding: 2rem;
  border: 3px solid lightGrey;
  border-radius: 8px;
}

.single-product-main button {
  padding: 0.6rem;
  background: white;
  border-radius: 16px;
  border: 2px solid lightGrey;
}

.single-product-main h5 {
  margin-bottom: 1rem;
}

.single-product-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.spacer {
  height: 20px;
  width: 100vw;
  background: rgb(220, 220, 220);
  /* background: rgb(194, 228, 239, 0.6); */
  border-radius: 0.4rem;
}

@media only screen and (min-width: 500px) {
  .link-footer {
    font-size: 10px;
    color: rgb(0, 0, 0, 0.7);
    padding: 0.6rem;
  }
  .logo-footer-text {
    font-size: 26px;
  }

  .footer-links {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    gap: 0;
  }
  /* .footer-logo-container {
    position: absolute;
    bottom: 0.2rem;
  } */
  .footer-main {
    /* height: 300px; */
    height: 120px;
    padding: 1rem;
    background: rgb(240, 240, 240);
  }
  /* .footer-main {
    height: 96px;
    padding: 0;
    gap: 0;
  } */
}

@media only screen and (min-width: 700px) {
  .link-footer {
    font-size: 12px;
  }
  /* .performance-icon-black {
    display: none;
  }
  .performance-icon-white {
    display: block;
  } */
}
