.btn {
  height: 60px;
  width: 100%;
  border-radius: 60px;
  color: white;
  background: black;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formInput {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid rgb(80, 80, 80);
  background: rgb(252, 252, 252, 0.7);
}

.formInputShort {
  width: 250px;
}

.formRow {
  width: 100%;
}

.header h1 {
  /* max-width: 400px; */
  height: 80px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  background: rgb(220, 220, 220);
  background: rgb(194, 228, 239, 0.6);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  letter-spacing: 0.02rem;
}

.main {
  padding: 1rem;
}

.page {
  padding-top: 110px;

  background: url("../../../public//assets//images//womanRunner.jpeg");
  background-position: center;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
